#div {
  border-style: solid;
  border-width: 5px;
  border-color: green;
  text-align: center;
}

#title {
  margin: 10px auto;
  font-family: sans-serif;
  width: 300px;
  display: block;
}

#des {
  margin: 10px auto;
  font-family: sans-serif;
  width: 300px;
  height: 200px;
  display: block;
}

#hi{
  background-color: blue;
  border-radius: 5px;
}




